

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Contacts</mat-card-title>
            <mat-card-subtitle>Meth pincér</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                A <span class="meth">Meth pincér</span> egy online felület, ahol kedvünkre böngészhetünk a kedvenc kábítószereink között kizárólag hazai termelőktől!
            </p>
            <p><mat-icon>person</mat-icon> CEO: Volford Viktor</p>
            <p><mat-icon>call</mat-icon> +36 70 290 20 98</p>
            <p><mat-icon>email</mat-icon> volfordviktor@gmail.com</p>
            <p><mat-icon>location_on</mat-icon>Szeged, Károlyi Mihály Kollégium (MethPincér HQ)</p>
        </mat-card-content>
    </mat-card>
</div>