

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Elérhetőségek</mat-card-title>
            <mat-card-subtitle>Meth pincér</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                A <b>Meth pincér</b> egy online felület, ahol kedvünkre böngészhetünk a kedvenc kábítószereink között kizárólag hazai termelőktől!
            </p>
            <h3 class="warning heading">FIGYELEM!</h3>
            <p>
                <span class="warning">Nyílvánvalóan ez az oldal csak egy vicc, és tisztában vagyok az illegális milétében, úgyhogy elnézést kérek, ha valakit ez felzaklatott.</span>
            </p>
            <p><mat-icon>person</mat-icon> CEO: Volford Viktor</p>
            <p><mat-icon>call</mat-icon> +36 70 290 20 98</p>
            <p><mat-icon>email</mat-icon> volfordviktor@gmail.com</p>
            <p><mat-icon>location_on</mat-icon>Szeged, Károlyi Mihály Kollégium (MethPincér HQ)</p>
        </mat-card-content>
    </mat-card>
</div>