<div class="main_component">
    <div class="div-flex">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <h1>Regisztrálj egy új fiókot!</h1>
            <mat-form-field>
                <mat-label for="email">E-mail cím:</mat-label>
                <input matInput type="text" formControlName="email"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="email">Felhasználónév:</mat-label>
                <input matInput type="text" formControlName="username"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Jelszó:</mat-label>
                <input matInput type="password" formControlName="password"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Jelszó ismétlése:</mat-label>
                <input matInput type="password" formControlName="rePassword"/>
            </mat-form-field>
            <div formGroupName="name">
                <mat-form-field>
                    <mat-label for="firstname">Keresztnév:</mat-label>
                    <input matInput type="text" formControlName="firstname"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="lastname">Vezetéknév:</mat-label>
                    <input matInput type="text" formControlName="lastname"/>
                </mat-form-field>
            </div>
            <span>
                <span><button mat-raised-button color="primary" type="submit">Regisztrál</button></span>
                <span><button mat-raised-button color="primary" type="reset" (click)="goBack()">Vissza</button></span>
            </span>
        </form>
    </div>
</div>
