<div class="main_component">
    <div *ngIf="comments.length">
        <table>
            <tr>
                <th>User</th>
                <th>Comment</th>
                <th>Date</th>
            </tr>
            <!-- <tr *ngFor="let comment of comments; let i = index;" [ngClass]="i % 2 === 0 ? 'table-header-even' : 'table-header-odd'"> -->
            <tr *ngFor="let comment of comments; let i = index;"
                [ngStyle]="{'background-color' : i % 2 === 0 ? 'darkcyan' : 'cyan'}">
                <td>{{comment.username}}</td>
                <td>{{comment.comment}}</td>
                <td>{{comment.date | dateFormat}}</td>
            </tr>
        </table>
    </div>
    
    <div class="break"></div>
    <form [formGroup]="commentsForm" (ngSubmit)="addComment()">
        <mat-form-field>
            <mat-label for="username">Felhasználónév: </mat-label>
            <input matInput type="text" formControlName="username" />
        </mat-form-field>
        <div class="break"></div>
        <mat-form-field>
            <mat-label for="comment">Komment: </mat-label>
            <textarea matInput rows="10" cols="50" formControlName="comment" placeholder="Írj egy kommentet!"></textarea>
        </mat-form-field>
    
        <div class="break"></div>
        <span>
            <span><button mat-raised-button color="primary" type="submit">Hozzáadás</button></span>
        </span>
    </form>
</div>
