.main_component {
    display: grid;
    place-items: center;
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

span {
    padding: 5px 5px 5px 5px;
}

mat-form-field {
    width: 100%;
}

mat-card-actions{
    display: grid;
    place-items: center;
}

table{
    margin-top: 50px;
}

.table-header-even{
    background-color: #aee3fc;
    color: black;
}

.table-header-odd{
    background-color: #3568b0;
    color: white;
}

td{
    padding: 5px;
}

.no_comment_warning{
    text-align: center;
    margin-top: 50px;
}