<div class="main_component">
    <ng-container [ngSwitch]="comments.length">
        <div *ngSwitchCase="0">
            <h3 class="no_comment_warning">Ehhez a termékhez még nem kaptunk visszajelzést!</h3>
        </div>
        <div *ngSwitchDefault>
            <table>
                <tr>
                    <th>User</th>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
                <tr *ngFor="let comment of comments; let i = index;" [ngClass]="i % 2 === 0 ? 'table-header-even' : 'table-header-odd'">
                    <td>{{comment.username}}</td>
                    <td>{{comment.comment}}</td>
                    <td>{{comment.date | dateFormat}}</td>
                </tr>
            </table>
        </div>
    </ng-container>
    
    
    <div class="break"></div>
    <form *ngIf="user" [formGroup]="commentsForm" (ngSubmit)="addComment()">
        <mat-form-field>
            <mat-label for="comment">Komment: </mat-label>
            <textarea matInput rows="10" cols="50" formControlName="comment" placeholder="Írj egy kommentet!"></textarea>
        </mat-form-field>
    
        <div class="break"></div>
        <span>
            <span><button mat-raised-button color="primary" type="submit">Hozzáadás</button></span>
        </span>
    </form>
</div>
